{% comment %}
    Renders of product's inventory

    Accepts:
    - product: {Object} Product Liquid object (optional)
    - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)

    Usage:
    {% render 'inventory', product: product %}
{% endcomment %}
{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign inventory = target.inventory_quantity
-%}

<div class="inventory
 {%- if available == false %} inventory--sold-out {% endif -%}">
    <div class="inventory__container">
        <span>Stock: {{ inventory }}</span>
    </div>
</div>